Flask
gunicorn
# Flask-Restful
Flask-User
Flask-Script
Flask-BabelEx
Flask-SQLAlchemy
SQLAlchemy-Utils
passlib
Flask-Migrate
alembic
psycopg2
Safe
python-dotenv
bcrypt
email-validator
click
pyopenssl
