{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container container-auth white s10">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script type="text/javascript">
        Materialize.toast("{{ messages[0] }}", 4000);
    </script>
    {% endif %}
    {% endwith %}
    <div id="login">
        <form class="col s12" method="POST" action="/login">
            {{ form.hidden_tag() }}
            <div class="form-container">
                <h4 class="blue-text text-darken-4 center-align">Login</h4>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="login_email" type="email" name="email" class="validate" autofocus>
                        <label for="login_email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                            <span class="btn-show-pass">
                                <i class="material-icons password-visible">visibility</i>
                            </span>
                        <input id="login_password" type="password" name="password" class="validate" autofocus>
                        <label for="login_password">Password</label>
                    </div>
                    <a class="modal-trigger" href="#modal1" data-target="modal1">I forgot password</a>
                </div>
                <div class="row">
                    <div class="col s12">
                        <input id="remember" type="checkbox"/>
                        <label for="remember">Remember</label>
                    </div>
                </div>
                <br>
                <div class="center-align">
                    <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Login
                    </button>
                    <br><br>
                    Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a>
                </div>
            </div>
        </form>
        <!-- Reset password modal -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Reset password</h4>
                <p>Enter the email address associated with your account, and we’ll email you a link to reset your
                    password.</p>
            </div>
            <div class="form-container">
                <form class="col s12" method="POST" action="{{ url_for('auth.reset') }}">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="reset_email" type="email" name="email" class="validate" autofocus>
                            <label for="reset_email">Email</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}